SECRET_KEY='forum_secret_key'
JWT_SIGNING_KEY='my-32-character-ultra-secure-and-ultra-long-secret'

DJANGO_DEBUG=

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=your_forum_database_name
DB_USER=your_forum_database_user
DB_PASSWORD=fyour_forum_database_password
DB_HOST=your_forum_database_ost
DB_PORT=your_port

GUNICORN_TIMEOUT=120
GUNICORN_WORKERS=3

DJANGO_SECURE_SSL_REDIRECT=

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=